In [1]:
import pandas as pd

In [2]:
order_columns = ['order_id', 'order_date', 'order_customer_id', 'order_status']

In [3]:
orders = pd.read_csv('data/retail_db/orders/part-00000', names = order_columns)

In [4]:
orders

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [5]:
orders.columns

Index(['order_id', 'order_date', 'order_customer_id', 'order_status'], dtype='object')

In [9]:
orders['order_status'].unique()

array(['CLOSED', 'PENDING_PAYMENT', 'COMPLETE', 'PROCESSING',
       'PAYMENT_REVIEW', 'PENDING', 'ON_HOLD', 'CANCELED',
       'SUSPECTED_FRAUD'], dtype=object)

In [11]:
orders.query("order_status == 'COMPLETE'")

       order_id             order_date  order_customer_id order_status
2             3  2013-07-25 00:00:00.0              12111     COMPLETE
4             5  2013-07-25 00:00:00.0              11318     COMPLETE
5             6  2013-07-25 00:00:00.0               7130     COMPLETE
6             7  2013-07-25 00:00:00.0               4530     COMPLETE
14           15  2013-07-25 00:00:00.0               2568     COMPLETE
...         ...                    ...                ...          ...
68875     68876  2014-07-06 00:00:00.0               4124     COMPLETE
68877     68878  2014-07-08 00:00:00.0               6753     COMPLETE
68878     68879  2014-07-09 00:00:00.0                778     COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117     COMPLETE
68882     68883  2014-07-23 00:00:00.0               5533     COMPLETE

[22899 rows x 4 columns]

In [12]:
orders.query("order_status == 'COMPLETE' and order_date == '2014-07-09 00:00:00.0'")

       order_id             order_date  order_customer_id order_status
55184     55185  2014-07-09 00:00:00.0               3613     COMPLETE
55187     55188  2014-07-09 00:00:00.0               7930     COMPLETE
55190     55191  2014-07-09 00:00:00.0               6982     COMPLETE
55193     55194  2014-07-09 00:00:00.0               7868     COMPLETE
55196     55197  2014-07-09 00:00:00.0               9918     COMPLETE
55199     55200  2014-07-09 00:00:00.0               3339     COMPLETE
55201     55202  2014-07-09 00:00:00.0              12068     COMPLETE
55203     55204  2014-07-09 00:00:00.0              11018     COMPLETE
55204     55205  2014-07-09 00:00:00.0               3338     COMPLETE
55205     55206  2014-07-09 00:00:00.0               4543     COMPLETE
55207     55208  2014-07-09 00:00:00.0               1860     COMPLETE
55211     55212  2014-07-09 00:00:00.0               8612     COMPLETE
55214     55215  2014-07-09 00:00:00.0               2015     COMPLETE
55217     55218  2014-07-09 00:00:00.0               5642     COMPLETE
55218     55219  2014-07-09 00:00:00.0              12159     COMPLETE
55219     55220  2014-07-09 00:00:00.0              10165     COMPLETE
55220     55221  2014-07-09 00:00:00.0              10957     COMPLETE
55221     55222  2014-07-09 00:00:00.0               1025     COMPLETE
55222     55223  2014-07-09 00:00:00.0               7083     COMPLETE
55225     55226  2014-07-09 00:00:00.0               8134     COMPLETE
55227     55228  2014-07-09 00:00:00.0               7130     COMPLETE
55230     55231  2014-07-09 00:00:00.0               5070     COMPLETE
55232     55233  2014-07-09 00:00:00.0               6186     COMPLETE
55237     55238  2014-07-09 00:00:00.0               8977     COMPLETE
55242     55243  2014-07-09 00:00:00.0              10270     COMPLETE
55244     55245  2014-07-09 00:00:00.0               4847     COMPLETE
55248     55249  2014-07-09 00:00:00.0               5740     COMPLETE
55253     55254  2014-07-09 00:00:00.0              12044     COMPLETE
55254     55255  2014-07-09 00:00:00.0              12370     COMPLETE
55255     55256  2014-07-09 00:00:00.0               3706     COMPLETE
55257     55258  2014-07-09 00:00:00.0               4731     COMPLETE
55265     55266  2014-07-09 00:00:00.0                632     COMPLETE
55269     55270  2014-07-09 00:00:00.0               1702     COMPLETE
55270     55271  2014-07-09 00:00:00.0               8177     COMPLETE
55272     55273  2014-07-09 00:00:00.0               6195     COMPLETE
55278     55279  2014-07-09 00:00:00.0               2585     COMPLETE
55280     55281  2014-07-09 00:00:00.0               4568     COMPLETE
55282     55283  2014-07-09 00:00:00.0               7876     COMPLETE
55283     55284  2014-07-09 00:00:00.0               7366     COMPLETE
55285     55286  2014-07-09 00:00:00.0              11016     COMPLETE
55286     55287  2014-07-09 00:00:00.0               3831     COMPLETE
55291     55292  2014-07-09 00:00:00.0               3795     COMPLETE
55295     55296  2014-07-09 00:00:00.0               8762     COMPLETE
55296     55297  2014-07-09 00:00:00.0                827     COMPLETE
55297     55298  2014-07-09 00:00:00.0              11635     COMPLETE
55300     55301  2014-07-09 00:00:00.0              11081     COMPLETE
66988     66989  2014-07-09 00:00:00.0                801     COMPLETE
66991     66992  2014-07-09 00:00:00.0               5687     COMPLETE
66993     66994  2014-07-09 00:00:00.0                549     COMPLETE
66997     66998  2014-07-09 00:00:00.0               9466     COMPLETE
67001     67002  2014-07-09 00:00:00.0               6626     COMPLETE
67002     67003  2014-07-09 00:00:00.0                 63     COMPLETE
67004     67005  2014-07-09 00:00:00.0                473     COMPLETE
67008     67009  2014-07-09 00:00:00.0               9715     COMPLETE
68646     68647  2014-07-09 00:00:00.0               5518     COMPLETE
68647     68648  2014-07-09 00:00:00.0               8589     COMPLETE
68878     68879  2014-07-09 00:00:00.0                778     COMPLETE

In [13]:
orders.query("order_status == 'COMPLETE' or order_status == 'CLOSED'")

       order_id             order_date  order_customer_id order_status
0             1  2013-07-25 00:00:00.0              11599       CLOSED
2             3  2013-07-25 00:00:00.0              12111     COMPLETE
3             4  2013-07-25 00:00:00.0               8827       CLOSED
4             5  2013-07-25 00:00:00.0              11318     COMPLETE
5             6  2013-07-25 00:00:00.0               7130     COMPLETE
...         ...                    ...                ...          ...
68875     68876  2014-07-06 00:00:00.0               4124     COMPLETE
68877     68878  2014-07-08 00:00:00.0               6753     COMPLETE
68878     68879  2014-07-09 00:00:00.0                778     COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117     COMPLETE
68882     68883  2014-07-23 00:00:00.0               5533     COMPLETE

[30455 rows x 4 columns]

In [14]:
orders.query("order_status == ('COMPLETE' ,'CLOSED')")

       order_id             order_date  order_customer_id order_status
0             1  2013-07-25 00:00:00.0              11599       CLOSED
2             3  2013-07-25 00:00:00.0              12111     COMPLETE
3             4  2013-07-25 00:00:00.0               8827       CLOSED
4             5  2013-07-25 00:00:00.0              11318     COMPLETE
5             6  2013-07-25 00:00:00.0               7130     COMPLETE
...         ...                    ...                ...          ...
68875     68876  2014-07-06 00:00:00.0               4124     COMPLETE
68877     68878  2014-07-08 00:00:00.0               6753     COMPLETE
68878     68879  2014-07-09 00:00:00.0                778     COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117     COMPLETE
68882     68883  2014-07-23 00:00:00.0               5533     COMPLETE

[30455 rows x 4 columns]