In [56]:
import json

def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [2]:
schemas = json.load(open('data/retail_db/schemas.json'))

In [4]:
import glob

In [5]:
src_file_names = glob.glob('data/retail_db/*/part*')

In [6]:
src_file_names

['data/retail_db\\categories\\part-00000',
 'data/retail_db\\customers\\part-00000',
 'data/retail_db\\departments\\part-00000',
 'data/retail_db\\orders\\part-00000',
 'data/retail_db\\order_items\\part-00000',
 'data/retail_db\\products\\part-00000']

In [19]:
s = 's/a \\b\\c'

In [21]:
s.split(' ')

['s/a', '\\b\\c']

In [22]:
s.split('\\')

['s/a ', 'b', 'c']

In [24]:
import re

In [33]:
re.split(r'[/\\]',s)

['s', 'a ', 'b', 'c']

In [35]:
for file in src_file_names:
    print(re.split(r'[/\\]',file))

['data', 'retail_db', 'categories', 'part-00000']
['data', 'retail_db', 'customers', 'part-00000']
['data', 'retail_db', 'departments', 'part-00000']
['data', 'retail_db', 'orders', 'part-00000']
['data', 'retail_db', 'order_items', 'part-00000']
['data', 'retail_db', 'products', 'part-00000']

In [49]:
file = src_file_names[1]

In [50]:
file

'data/retail_db\\customers\\part-00000'

In [51]:
file_details= re.split(r'[/\\]', file)

In [52]:
file_details

['data', 'retail_db', 'customers', 'part-00000']

In [57]:
ds_name = file_details[-2]

In [58]:
columns = get_column_names(schemas , ds_name)

In [59]:
import pandas as pd

In [61]:
df = pd.read_csv(file, names=columns)

In [62]:
df

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725
...,...,...,...,...,...,...,...,...,...
12430,12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744
12431,12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,725
12432,12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756
12433,12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,725
12434,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483

In [63]:
df.shape

(12435, 9)

In [ ]:
file_path_list = re.split('[/\\\]', file)
print(f"{src_file_names} converted file path to list of string {file_path_list}")

['data/retail_db\\categories\\part-00000', 'data/retail_db\\customers\\part-00000', 'data/retail_db\\departments\\part-00000', 'data/retail_db\\orders\\part-00000', 'data/retail_db\\order_items\\part-00000', 'data/retail_db\\products\\part-00000']converted file path to list of string ['data', 'retail_db', 'products', 'part-00000']

In [82]:
for file in src_file_names:
    print(f'Processing {file}')
    file_path_list = re.split('[/\\\]', file)
    print(f"'data/retail_db\\categories\\part-00000' \n converted file path to list of string \n {file_path_list}\n")
    ds_name = file_path_list[-2]
    print('ds name = ',ds_name)
    columns = get_column_names(schemas, ds_name)
    df = pd.read_csv(file, names=columns)
    print(f'Shape of {ds_name} is {df.shape}')

Processing data/retail_db\categories\part-00000
'data/retail_db\categories\part-00000'
 converted file path to list of string
 ['data', 'retail_db', 'categories', 'part-00000']

ds name =  categories
Shape of categories is (58, 3)
Processing data/retail_db\customers\part-00000
'data/retail_db\categories\part-00000'
 converted file path to list of string
 ['data', 'retail_db', 'customers', 'part-00000']

ds name =  customers
Shape of customers is (12435, 9)
Processing data/retail_db\departments\part-00000
'data/retail_db\categories\part-00000'
 converted file path to list of string
 ['data', 'retail_db', 'departments', 'part-00000']

ds name =  departments
Shape of departments is (6, 2)
Processing data/retail_db\orders\part-00000
'data/retail_db\categories\part-00000'
 converted file path to list of string
 ['data', 'retail_db', 'orders', 'part-00000']

ds name =  orders
Shape of orders is (68883, 4)
Processing data/retail_db\order_items\part-00000
'data/retail_db\categories\part-00000'
 converted file path to list of string
 ['data', 'retail_db', 'order_items', 'part-00000']

ds name =  order_items
Shape of order_items is (172198, 6)
Processing data/retail_db\products\part-00000
'data/retail_db\categories\part-00000'
 converted file path to list of string
 ['data', 'retail_db', 'products', 'part-00000']

ds name =  products
Shape of products is (1345, 6)

In [76]:
df

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...
...,...,...,...,...,...,...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,NaN,34.00,http://images.acmesports.sports/Nike+Women%27s...
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,NaN,32.00,http://images.acmesports.sports/Nike+Men%27s+S...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...